@charset "utf-8";
/* CSS Document */

body{
	
	background-color: black;
	
}
h1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: antiquewhite;
	
}
p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: antiquewhite;
	align-content: center;
	font-size: 2.5em;
}
