* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background {
    background-image: url('afiche4.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text-gallery {
    width: 90%;
    max-width: 90%; /* Más ancho en pantallas grandes */
    height: 70vh; /* Altura significativa para más espacio de texto */
    max-height: 90vh; /* Máxima altura en pantallas grandes */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para mayor legibilidad */
    padding: 40px; /* Aumenta el padding para mayor espacio */
    border-radius: 10px;
    position: relative; /* Necesario para la posición absoluta de las frases */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el tamaño */
}

.text-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1; /* Se asegura de que todas las frases tengan el mismo nivel */
    animation: fadeInOut 15s infinite; /* Duración total del ciclo de animación */
    padding: 0 20px; /* Padding para que el texto no se pegue a los bordes */
    width: 100%; /* Asegura que el texto se ajuste dentro del contenedor */
    box-sizing: border-box; /* Para que el padding no afecte el tamaño del ancho */
    font-size: 1.8rem; /* Tamaño de fuente ajustable */
    line-height: 1.6; /* Mejora la legibilidad */
}

/* Animación de opacidad para cada frase */
@keyframes fadeInOut {
    0%, 25%, 100% { opacity: 0; z-index: 1; } /* Las frases comienzan y terminan siendo invisibles */
    5%, 20% { opacity: 1; z-index: 2; } /* Solo la frase visible está en el frente */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .text-gallery {
        width: 100%;
        height: 65vh; /* Mayor altura en pantallas medianas */
        padding: 30px; /* Ajusta el padding en móviles */
        font-size: 1.6rem; /* Tamaño de fuente ligeramente más pequeño en móviles */
    }
    .text-slide {
        font-size: 1.6rem; /* Ajuste del tamaño de fuente en móviles */
        line-height: 1.4; /* Mejora la legibilidad */
        padding: 0 15px; /* Reduce el padding en móviles */
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .text-gallery {
        padding: 20px; /* Aún más ajuste en dispositivos muy pequeños */
        height: 65vh; /* Mayor altura en pantallas pequeñas */
        font-size: 1.4rem; /* Ajuste de tamaño de fuente para dispositivos más pequeños */
    }
    .text-slide {
        font-size: 1.4rem; /* Ajuste adicional para pantallas más pequeñas */
        padding: 0 10px; /* Padding más pequeño */
        margin-top: 2em;
    }
}